.BrandTitle{
    margin-left: 300px;
}

.Title{
    display: flex;
    flex-direction: row;
    align-items: end;
}

h1{
    font-family: "League Spartan";
    font-size: 186px;
    color: #023047;
    margin: 0px;
}

.net{
    font-family: "League Spartan";
    font-size: 41px;
    margin: 0px;
    margin-bottom: 35px;
    color: #FB8500;
}

h2{
    margin-left: 8px;
    font-family: "League Spartan";
    font-size: 49px;
    color: #023047;
}

